@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fff;
}
.Type-File{
  position: absolute;
  top:25%;
  left:50%;
  transform: translate(-50%, -500%);
}
.File{
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -450%);
}

.drag-area{
  border: 2px dashed #FFC0CB;
  height: 400px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #FFB6C1;
}
.drag-area .icon{
  font-size: 60px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #000000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}